<%- include("../includes/header.ejs") %>
<body>
    <%- include("../includes/nav.ejs") %>
    <main>
        <h1>Login To Shop</h1>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid': '' %>" type="text" name="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid': '' %>" type="password" name="password" value="<%= oldInput.password %>">
            </div>
            <h2 style="background-image: linear-gradient(to right, pink, blue, lightblue); -webkit-background-clip: text; color: transparent;"><%= errorMessage %></h2>
            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button type="submit">Log Me In!</button>  
        </form>
        <div class="new-row">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
    <%- include("../includes/footer.ejs") %>
</body>