<%- include("../includes/header.ejs") -%>
<body>
    <%- include("../includes/nav.ejs") -%>
    <main>
        <h1>Shop Products</h1>
        <div class="products">
            <% if (products.length > 0) { %>
            <% products.forEach(product => { %>
                <div class="product-item">
                <h1><%= product.title %></h1>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                <p><%= product.description %></p>
                <a href="/products/<%= product._id %>" class="btn">Details</a>
                <button>Buy for $<%= product.price %></button>
                <%- include("../includes/add-to-cart", {product: product}) -%>
                </div>
            <% }) %>
            <% } else { %>
                <h1>No Items Yet!</h1>
            <% } %>
        </div>
    </main>
    <%- include("../includes/footer.ejs") %>
</body>