<%- include("../includes/header.ejs") -%>
<body>
    <%- include("../includes/nav.ejs") -%>
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Nothing there</h1>
        <% } else { %>
            <% orders.forEach(order => { %>
                <div class="order">
                    <h2>Order - #<%= order._id %></h2>
                    <div class="order-row">
                        <% order.items.forEach(product => { %>
                            <h2 class="order-item"><%= product.title %> - (<%= product.quantity %>)</h2>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </main>
    <%- include("../includes/footer.ejs") -%>
</body>