<%- include("../includes/header.ejs") %>
<body>
    <%- include("../includes/nav.ejs") %>
    <main>
        <h1>Reset Password</h1>
        <form class="newpassword-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <!-- <div class="form-control">
                <label for="password">New Password</label>
                <input type="text" name="password">
            </div>
            <div class="form-control">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password">
            </div> -->
            <h2 style="background-image: linear-gradient(to right, pink, blue, lightblue); -webkit-background-clip: text; color: transparent;"><%= errorMessage %></h2>
            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button type="submit">Reset Password</button>
        </form>
    </main>
    <%- include("../includes/footer.ejs") %>
</body>